<div class="card grow">
  <div class="card-header fw-bold text-dark ">
    {{ product.name }}
  </div>
  <div class="card-body">
    <p class="card-title">{{ product.operator.name }}</p>
    <h6 class="card-subtitle mb-2 text-muted">{{ product.type }}</h6>
    <p class="d-block card-text text-truncate"><{{ product.description }}</p>
    <p class="card-text">{{ product.service.name }}</p>
    <p class="text-monospace ">
      Retail Price : {{ product.prices.retail.amount | currency: "AED " }}
    </p>

    <button class="btn btn-primary text-white me-3" (click)="emitPurchase(product)">
      <i class="material-icons">shopping_cart</i>
            Add
    </button>
    <button class="btn btn-secondary" (click)="emitShowDetails(product.id)">
      View Details
    </button>
  </div>
</div>
