<div class="container">
  <div class="mt-2">
    <h1 class="display-3 lead pb-3 pt-3">Transactions</h1>
  </div>
  <div class="row gx-2">
    <div class="col-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="text-center fs-2">Available Balance</h5>
          <p class="card-text text-center fs-3">
            {{ balance | currency: "AED" }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-dark bg-dark mb-3">
        <div class="card-body">
          <h5 class="text-center text-white display-4 fw-bold fs-2">
            Balance on Hold
          </h5>
          <p class="card-text text-white text-center fs-3">
            {{ onHoldBalance | currency: "AED" }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-black bg-light mb-3">
        <div class="card-body">
          <h5 class="text-center fs-2">Credit Limit</h5>
          <p class="card-text text-center fs-3">
            {{ creditLimit | currency: "AED" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="phoneNumber" class="mb-2"> Phone Number </label>
      <input
        class="form-control form-control-md"
        type="text"
        placeholder="Search ..."
        [(ngModel)]="searchControl"
      />
    </div>
    <div class="col-6">
      <label for="phoneNumber" class="mb-2"> Transaction status </label>
      <ng-select
        [formControl]="transactionStatusControl"
        placeholder="Select transction status"
        [items]="transactionStatuses"
        bindLabel="status"
      >
      </ng-select>
    </div>
  </div>
  <div class="row mt-2 mb-3" *ngIf="transactionlist.length > 0">
    <div class="col-2">Operator Reference</div>
    <div class="col-3">Product</div>
    <div class="col-1">Price</div>
    <div class="col-2">Date Created</div>
    <div class="col-2">Service</div>
    <div class="col-1">Status</div>
  </div>

  <div *ngIf="transactionlist.length > 0; else trans">
    <div
      class="card mt-3"
      *ngFor="
        let transaction of transactionlist
          | filter: searchControl
          | paginate
            : { itemsPerPage: 6, currentPage: page, totalItems: total_items }
      "
    >
      <div class="card-body">
        <div class="row justify-content-start">
          <div class="col-2">
            <p *ngIf="transaction.operator_reference; else noref">
              {{ transaction.operator_reference }}
            </p>
            <ng-template #noref>
              <p class="text-center">-</p>
            </ng-template>
          </div>

          <div class="col-3">
            <p>
              {{ transaction.product.name }}
            </p>
          </div>

          <div class="col-1">
            <p class="fw-bold">
              {{ transaction.prices.wholesale.amount | currency: "AED" }}
            </p>
          </div>

          <div class="col-1">
            <small class="text-muted">
              {{ transaction.creation_date | date: "dd/MM/yyyy, h:mm a" }}
            </small>
          </div>

          <div class="col-2">
            <p>{{ transaction.product.service.name }}</p>
          </div>

          <div class="col-2" *ngIf="transaction.status.message != 'CREATED'">
            <p>
              {{ transaction.status.message }}
            </p>
          </div>
          <div class="col-1">
            <button
              (click)="getTransactionsDetails(transaction.id)"
              class="btn btn-success fw-bold btn-lg cancel"
            >
              View
            </button>
          </div>
          <div class="col-1">
            <button
              (click)="cancelTransaction(transaction.id)"
              class="btn btn-info fw-bold btn-lg cancel"
              *ngIf="transaction.status.message === 'CREATED'"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #trans>
    <div>
      <img
        class="img-fluid d-flex d-block ms-auto me-auto"
        style="height: 400px"
        src="assets/transaction-empty.svg"
      />
      <h2 class="mt-4 text-center">The above filter conditions are not met.</h2>
      <p class="text-muted text-center">
        Choose different options to select from the filters or reset your filter
        results.
      </p>
      <button
        (click)="resetFilters()"
        class="btn btn-primary d-flex ms-auto me-auto"
      >
        Reset Filters
      </button>
    </div>
  </ng-template>

  <div class="mt-4" *ngIf="transactionlist.length > 0">
    <pagination-controls
      previousLabel="Previous"
      nextLabel="Next"
      (pageChange)="pageChange($event)"
    ></pagination-controls>
  </div>
</div>
