<div class="card mt-2">
  <div class="card-body">
    <div class="row d-flex align-items-center">

      <div class="col-2">
        <p>{{product.name}}</p>
      </div>
      <div class="col-2">
        <p>{{product.operator.name}}</p>
      </div>
      <div class="col-2">
        <p>{{product.operator.name}}</p>
      </div>
      <div class="col-2">
        <p> {{product.rates.retail |number : '1.2-2'}}</p>
      </div>

      <div class="col-2">
        <p>{{product.prices.retail.amount| currency: " AED " }}</p>
      </div>
      <div class="col-1">
        <button class="btn btn-danger" (click)="removeProduct(product)">Remove</button>
      </div>
  </div>
</div>
