<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-2">Welcome, DTone!</h1>
    <p class="lead display-4 fs-4"> Discover, Promotions, Benefits & Many more.</p>
    <button
      class="btn btn-primary ps-4 btn-lg button"
      [routerLink]="['/', 'products']"
    >
      Discover Products
    </button>
  </div>
  <img
    class="img-fluid d-flex d-block ms-auto me-auto"
    style="height: 500px"
    src="assets/landing_image.svg"
  />
</div>
