<nav class="navbar navbar-expand-lg navbar-dark p-4 bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">DTone</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white fs-4 display-4" aria-current="page" [routerLink]="['/']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4 display-4" [routerLink]="['/', 'products']">Products</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white fs-4 display-4" [routerLink]="['/', 'transactions']"
            >Transactions</a
          >
        </li>
        <li class="nav-item  me-3 display-4">
          <button
            [routerLink]="['/', 'cart']"
            class="btn btn-info d-flex align-items-center btn-lg "
          >
            <small class="badge bg-dark">{{
              appService.getCartProducts().length
            }}</small>
            <i class="material-icons fs-4">shopping_cart</i>
            Checkout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
