<div class="container">
  <div class="row mt-4">
    <div class="col-12 col-sm-4 mt-2">
      <ng-select placeholder="Choose  Service" [formControl]="servicesControl">
        <ng-option *ngFor="let option of services" [value]="option.name">
          {{ option.name }}
        </ng-option>
      </ng-select>
    </div>

    <div class="col-12 col-sm-4 mt-2">
      <ng-select
        [formControl]="countriesFormControl"
        placeholder="Select Country"
      >
        <ng-option *ngFor="let option of countries" [value]="option.name">
          {{ option.name }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-12 col-sm-4 mt-2">
      <ng-select
        placeholder="Choose Operator"
        [formControl]="operatorsFormControl"
      >
        <
        <ng-option *ngFor="let option of operators" [value]="option.name">
          {{ option.name }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row pt-3 ">
    <div class='col-12 col-md-4 ' >
      <input
        class="form-control form-control-md"
        type="text"
        placeholder="Search "
        [(ngModel)]="searchControl"
      />
    </div>
  </div>

  <div
    *ngIf="isLoading; else loadProducts"
    class="mt-4 d-flex justify-content-center align-items-center"
  >
    <div
      class="spinner-grow text-primary"
      style="width: 4rem; height: 4rem"
      role="status"
    ></div>
  </div>
  <ng-template #loadProducts>
    <div *ngIf="products.length > 0 || !products; else emptyProducts">
      <div class="row justify-content-start">
        <div
          class="products gx-3 gy-3 col-sm-6 col-md-6 col-lg-4 col-xl-3"
          *ngFor="
            let product of products
              | filter: searchControl
              | paginate
                : {
                    itemsPerPage: 50,
                    currentPage: page,
                    totalItems: total_items
                  }
          "
        >
          <app-product [product]="product"></app-product>
        </div>
        <pagination-controls
          previousLabel="Previous"
          nextLabel="Next"
          (pageChange)="pageChange($event)"
        ></pagination-controls>
      </div>
    </div>
    <ng-template #emptyProducts>
      <img
        class="img-fluid d-flex mt-4 d-block ms-auto me-auto"
        style="height: 300px"
        src="assets/products-empty.svg"
      />
      <h2 class="mt-4 text-center">Product(s) not available.</h2>
      <p class="text-muted text-center">
        The product your currently searching is currently not available. Try and
        refine your search or your filters. Reset the filters below.
      </p>
      <button
        class="btn btn-primary d-block ms-auto me-auto"
        (click)="resetFilters()"
      >
        Reset Filter & Search
      </button>
    </ng-template>
  </ng-template>
</div>
