<div class="container">
  <div
    *ngIf="isLoading; else loadTransactions"
    class="mt-4 d-flex justify-content-center align-items-center"
  >
    <div
      class="spinner-grow text-primary"
      style="width: 4rem; height: 4rem"
      role="status"
    ></div>
  </div>
  <ng-template #loadTransactions>
    <div class="section">

      <p class="fw-bold display-4">{{ transaction.product.name }}</p>
      <h1>Status<span class=" ms-1 badge bg-success">{{transaction.status.message}}</span></h1>
      <p class="display-6 fs-3 mb-2 display-6">
        Operator  : {{ transaction.product.operator.name}}
      </p>
      <p class="pb-1 fw-bold display-6 fs-4 text-muted">
        External Id : {{ transaction.external_id }}
      </p>
      <p class="pb-2 fw-light display-6 fs-3">
        Confirmation Date  :{{ transaction.confirmation_date }}
      </p>
      <p class="pb-2 fw-light display-6 fs-5">
        Date created   :{{ transaction.creation_date | date }}
      </p>
    </div>

    <h5 class="fw-bold display-6 fs-4">
      Credit Party Identifier : {{ transaction.credit_party_identifier.mobile_number }}
    </h5>


    <p class="display-6 lead mt-2 mb-3">
      Retail Price : {{ transaction.prices.retail.amount | currency: " AED " }}
    </p>
    <p class="display-6 lead">
      Wholsale Price :
      {{ transaction.prices.wholesale.amount | currency: " AED " }}
    </p>
    <p class="fw-light fs-4 mb-1">{{transaction.product.description}}</p>


    <p class="display-6 fs-3">
      Operator Country : {{transaction.product.operator.country.name}}
    </p>

    <p class="lead fs-5 fw-bold">
     Retail Rate  : {{ transaction.rates.retail | number: "1.1" }}
    </p>

    <p class="lead fs-5 fw-bold">
      Wholesale Rate : {{ transaction.rates.wholesale | number: "1.1" }}
    </p>
    <div class="benefits">
      <hr />
      <h4 class="lead display-4 fw-light text-center">Benefits</h4>
      <ul>
        <li *ngFor="let item of transaction.benefits">
          <p>{{ item.type }}</p>
          <p *ngIf="item.additional_information"></p>
          <p>Base :{{ item.amount.base }}</p>
          <p>addtional information {{ item.additional_information }}</p>

          <p>total excluding tax :{{ item.amount.total_excluding_tax }}</p>
        </li>
      </ul>
    </div>

    <div class="m-t-4">
      <button
        class="btn btn-danger btn-lg ps-4 pe-4 me-2"
        (click)="downaloadTransaction(transaction)"
      >
      <i class="material-icons fs-4">file_download</i> Download Transaction
      </button>
      <button
        class="btn btn-secondary btn-lg ps-4 pe-4 me-2 mt-2"
        [routerLink]="['/', 'transactions']"
      >
        Return to Transcations
      </button>
    </div>
  </ng-template>
</div>
