<div class="container">
  <div
    *ngIf="isLoading; else loadProducts"
    class="mt-4 d-flex justify-content-center align-items-center"
  >
    <div
      class="spinner-grow text-primary"
      style="width: 4rem; height: 4rem"
      role="status"
    ></div>
  </div>
  <ng-template #loadProducts>
    <div class="section">
      <p class="pt-4 fw-bold display-4">{{ product.name }}</p>
      <p class="pb-1 fw-bold display-6 text-muted">
        Zone : {{ product.availability_zones }}
      </p>
      <p class="pb-2 fw-light display-6 fs-3">
        Operator Country :{{ product.operator.country.name }}
      </p>
    </div>

    <h5 class="fw-bold display-6 fs-4">
      Operator : {{ product.operator.name }}
    </h5>
    <h5 class="card-title">{{ product.service.name }}</h5>

    <p class="display-6 lead mt-2 mb-3">
      Retail Price : {{ product.prices.retail.amount | currency: " AED " }}
    </p>
    <p class="display-6 lead">
      Wholsale Price :
      {{ product.prices.wholesale.amount | currency: " AED " }}
    </p>
    <p class="fw-light fs-4 mb-1">{{ product.description }}</p>
    <p class="display-6 fs-4 mb-2 text-muted">
      Product Type : {{ product.type }}
    </p>

    <p class="display-6 fs-3">
      Valid For :{{ product.validity.quantity }} {{ product.validity.unit }}
    </p>

    <p class="lead fs-5 fw-bold">
      Retail Rate : {{ product.rates.retail | number: "1.1" }}
    </p>

    <p class="lead fs-5 fw-bold">
      Wholesale Rate : {{ product.rates.wholesale | number: "1.1" }}
    </p>
    <div class="benefits">
      <hr />
      <h4 class="lead display-4 fw-light text-center">Benefits</h4>
      <ul>
        <li *ngFor="let item of product.benefits">
          <p>{{ item.type }}</p>
          <p *ngIf="item.additional_information"></p>
          <p>Base :{{ item.amount.base }}</p>
          <p>addtional information {{ item.additional_information }}</p>

          <p>total excluding tax :{{ item.amount.total_excluding_tax }}</p>
        </li>
      </ul>
    </div>

    <div class="m-t-4">
      <button
        class="btn btn-danger btn-lg ps-4 pe-4 me-2"
        (click)="addProductToCart(product)"
      >
        Add to Cart
      </button>
      <button
        class="btn btn-secondary btn-lg ps-4 pe-4 me-2 mt-2"
        [routerLink]="['/', 'products']"
      >
        Return to Products
      </button>
    </div>
  </ng-template>
</div>
