<div class="container">
  <h1 class="mt-3 display-4 text-center mb-4">Products Cart</h1>
  <div *ngFor="let product of products">
    <app-cart-item
      class="mt-2"
      [product]="product"
      (productRemoved)="removeProduct(product)"
    ></app-cart-item>
  </div>
  <div class="mt-2" *ngIf="products.length > 0; else cartEmpty">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="phoneNumber" class="mb-2"> Phone  Number </label>
        <ng-select
          formControlName="mobileNumber"
          placeholder="Select Phone Number"
          [items]="phoneNumbers"
          bindLabel="number"
        >
        </ng-select>

        <div>
          <label for="accountNumber" class="mt-2"> Account Number </label>
          <input
            class="form-control mb-2"
            type="text"
            maxlength="16"
            formControlName="accountNumber"
          />
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Purchase</button>
    </form>
  </div>
  <ng-template #cartEmpty>
    <div>
      <img
        class="img-fluid d-flex d-block ms-auto me-auto"
        style="height: 400px"
        src="assets/cart-empty.svg"
      />
      <h2 class="mt-4 text-center">Your Cart is Currently Empty.</h2>
      <p class="text-muted text-center">
        Before you proceed to checkout, you must add some products to your
        shopping cart. You will find alot of products available on the products
        page.
      </p>
      <button
        class="btn btn-primary d-block ms-auto me-auto"
        [routerLink]="['/', 'products']"
      >
        Return to Products
      </button>
    </div>
  </ng-template>
</div>
''
